*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}
ul,
ol{
    list-style: none;
}
img{
    width: 100%;
}
.clear::after{
    content: '';
    display: block;
    clear: both;
}
/*nav*/
nav{
    background-color: lightgrey;
    padding: 15px 0;
}
.logo{
    float: left;
    width: 30%;
}
.logo img{
    width: 60%;
}
.nav-menu{
    float: right;
}
.nav-menu li{
    display: inline-block;
    padding-top: 8px;
    transition: .8s;
    padding-bottom: 3px;
}
.nav-menu li:not(.active){
    margin-left: 25px;
    border-bottom:3px solid transparent;
}
.nav-menu li a{
    font-weight: 600;
    color: black;
    transition: .8s;
}
.nav-menu li:hover a{
    color: #0260AB;
}
.nav-menu li:hover {
    border-bottom:3px solid #0260AB;
}

.nav-menu .active{
    border-bottom:3px solid #0260AB;
}

/*nav*/


/*header*/
header{
    text-align: center;
    margin: 50px;
}
header h1{
    font-family: 'Satisfy', cursive;
    font-size: 45px;
}
/*header*/


/*section*/


section .section-block{
    display: flex;
    justify-content: space-between;
} 

section .child:hover{
    transform:scale(1.1);
    box-shadow: 0 0 10px 3px lightgrey;
}
section  .child{
    transition: 0.5s;
    text-align: center;
    transform-origin: bottom;
    padding: 20px;
    border: 5px solid #f2f2f2;
    flex-basis:30% ;
}
section .section-block img{
    width: 60px;
    margin: 25px;
    border: 3px solid rgb(194, 191, 191);
    border-radius: 50%;
    background-color:chartreuse;
}
section .child:hover img{
    background-color:tomato;
    border: 2px solid lightgray;
    border-radius: 50%;
    transform:rotateY(360deg);
    transition: 0.5s;
}
section .child img:hover{
    box-shadow: 0 0 15px 3px lightgray;
}
section .section-block h2{
    margin-bottom: 20px;
    font-size: 35px;
}
section .section-block p{
    margin-bottom: 20px;
    font-size: 20px;
}
section div div div .percent{
    font-family:monospace;
    font-size: 50px;
    font-weight: bolder;
    color: #0260AB;
}
section a{
    margin: 15px;
    padding: 10px;
    color: white;
    background-color:slateblue;
    border-radius: 10%;
}
section a:hover{
    background-color:navy;
}
/*footer*/
footer{
    background-color: lightgray;
    padding: 25px;
    margin-top: 50px;
}
.foot-left {
    float: left;
}
.to-top {
    float: right;
}
.to-top a{
    color: #0260AB;
}
/*footer*/

